.viewpoint.left{
 display:inline-block;
 width:150px;
 vertical-align:top;
 padding:5px 10px;
 color:white;
}
.viewpoint.right{
 display:inline-block;
 width:515px;
 vertical-align:top;
 border-radius:10px;
 margin-left:5px;
}
.post{
 background:rgba(400,100,100,.7);
 border-radius:10px;
 padding:10px 10px;
 color:white;
 border-bottom:1px solid white;
 position:relative;
}
.post:hover{background:rgba(400,100,100,.8);}
.post.yell{background:rgb(222, 236, 61);color:black;}
.post.yell:hover{background:rgb(230, 247, 44);}
.post.gree{background:rgba(65, 199, 53, .7);color:white;}
.post.gree:hover{background:rgba(65, 199, 53, .8);}
.post.blu{background:rgba(100, 172, 400, .7);color:white;}
.post.blu:hover{background:rgba(100, 172, 400,1);}
.post.or{background:rgba(241, 158, 32, 0.6);color:white;}
.post.or:hover{background:rgba(241, 158, 32, 0.7);}
.post .left{
 display:inline-block;
 width:50px;
 vertical-align: top;
}
.post .right{
 display:inline-block;
 width:400px;
 vertical-align: top;
 border-left:1px solid black;
 padding-left:7px;
}
.post .top{
 border-bottom:1px solid white;
 padding-bottom:2px;
}
.post .bottom{
 border-top:1px solid black;
 margin-top:5px;
}
.like,.cmt{
 cursor:pointer;
 padding:0px 10px;
 background:white;
 color:black;
 margin-top:5px;
 display:inline-block;
}
.like:hover,.cmt:hover{
 background:#EEE;
}
.post .like_bar,.post .cmt_bar{
 margin-right:5px;
 display:inline-block;
 border-right:1px solid black;
 padding-right:5px;
}
.post .pimg{
 height:48px;
 width:48px;
}
.post .slink{
 margin-left:10px;
 color:gray;
}
.post .slink:hover{
 margin-left:10px;
 color:black;
}
.post .cont{
 font-size:16px;
 margin-top:3px;
 white-space: pre-wrap;
}
.post .author_box{
 background:url(//open.subinsb.com/img/sprites/triangle.png);
 height: 14px;
 width: 14px;
 background-size: 14px;
 display: block;
 position: absolute;
 right: 15px;
 top: 7px;
 cursor:pointer;
 opacity:.8;
 z-index:9;
}
.post .author_box:hover{opacity:1;}
.post .author_panel{
 position:absolute;
 top:10px;
 right:0px;
 padding:5px;
 width:148px;
 background:white;
 border-radius:10px;
 display:none;
}
.comments{
 border-top:1px solid black;
 margin-top:10px;
 padding-top:5px;
 display:block;
 background:#fff;
 color:black;
 padding:5px;
 border-radius:5px;
 display:none;
}
.comments .cmt_form input[type=text]{
 width:235px;
}
.comment .left{
 display:inline-block;
 width:50px;
}
.comment .right{
 display:inline-block;
 width:330px;
 vertical-align: top;
 border-left:1px solid black;
 padding-left:7px;
}
.comment .top{
 border-bottom: 1px solid black;
}
.comments .cmt_form{
 margin-bottom:10px;
 
}
.comment{
 position:relative;
 border-bottom:1px solid black;
 margin-top:5px;
}
.comment .author_cmt_box{
 background:url(//open.subinsb.com/img/sprites/triangle.png);
 height: 14px;
 width: 14px;
 background-size: 14px;
 display: block;
 position: absolute;
 right: 15px;
 top: 2px;
 z-index:9;
}
.comment .author_cmt_panel{
 position:absolute;
 top:10px;
 right:0px;
 padding:5px;
 width:113px;
 text-align: center;
 background:#CCC;
 border-radius:10px;
 display:none;
 color:white;
}
.comment .author_cmt_panel .de_cmt{
 border-bottom:1px solid black;
 padding-bottom:2px;
 margin-bottom:1px;
 display:block;
}
.load_more_posts{
 background:#DDD;
 border:2px solid black;
 border-radius:10px;
 padding:5px 10px;
 margin-top:5px;
}
.load_more_posts .normal{
 cursor:pointer;
 vertical-align: middle;
}
.load_more_posts .loader img{vertical-align: middle;}
.load_more_posts .loader span{
 vertical-align: middle;
 margin-left: 10px;
}
.comment .like_bar{border:none;}
.comment .actions{border-top:1px solid black;margin-top:5px;padding:0px 10px 6px;}
.comments .load_more_comments{
 display:block;
 margin:5px auto 0px;
 width:300px;
}
.count{color:#498AF2;}
.post .count{margin-left: 5px;}
