.post_form{
 background:#fff;
 padding:10px;
 border-radius:10px;
}
.post_form textarea{
 width:400px;
 height:80px;
}
.post_form #show_form{
 width:200px;
}
.post_form .right{
 display:inline-block;
 width: 410px;
 vertical-align:top;
}
.post_form .left{
 display:inline-block;
 width:70px;
 background:
}
.post_form #privacy{
 position: absolute;
 top: 0px;
 left: 40px;
 width: 110px;
 background: white;
 text-align: center;
 border: 1px solid black;
 z-index: 2;
}
.post_form #prtoggle,#cam{
 background: url(//open.subinsb.com/img/web.png) no-repeat !important;
 min-width: 34px !important;
 background-color: white;
 padding: 8px !important;
 height: 34px;
}
.post_form .small{
 padding: 5px !important;
 background: white !important;
 min-width: 30px !important;
 color:black;
 vertical-align:top;
}
.post_form #cam{
 background: url(//open.subinsb.com/img/camera.png) no-repeat !important;
 background-position: center 3px;
 background-color:white;
 background-size: 33px !important;
}
