.chatgt .close{
  position: absolute;
  right: 5px;
}
.openugt{
  position:fixed;
  bottom:0px;
  right:0px;
  width:100px;
  height:20px;
  text-align:center;
  display:none;
  background:white;
  border-left:1px solid black;
  border-top:1px solid black;
  z-index:999;
}
.usersgt{
  position: fixed;
  right: 0px;
  top: 40px;
  padding: 15px 10px;
  background: white;
  bottom: 0px;
  width: 200px;
  z-index: 14;
  box-shadow: 0 4px 4px rgb(102, 102, 102);
}
.usersgt .users{
  overflow-y: auto;
  height: 100%;
  margin-right: -40px;
}
.usersgt .user{
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}
.usersgt .user img, .usersgt .user .name, .usersgt .user .status{
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}
.status{
  text-indent:-999em;
  width:12px;
  height:12px;
  margin-top:2px;
  display:inline-block;
  vertical-align:middle;
  margin-left:4px;
}
.status.on{
  border-radius:10px;
  background:#64C235;
}
.status.off{
  border-radius:10px;
  background:#AAA;
}
.chatgt .msggt{
  display:none;
  position: fixed;
  bottom: 0px;
  right: 235px;
  height:300px;
  width: 250px;
  padding: 5px;
  z-index: 9999999;
  background: rgb(238, 238, 238);
  border:1px solid black;
  border-top-left-radius: 15px;
}
.chatgt .msggt .chattop{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  margin: -5px;
  padding: 4px 10px;
  z-index: 4;
}
.chatgt .msggt .msgs{
  height: 230px;
  overflow-y:auto;
}

/* The small current user box at the top in chat sidebar */
.cusgt {
  margin-bottom: 5px;
  padding: 0px 5px 5px;
  position: absolute;
  background: white;
  right: 0px;
  left: 0px;
}
.cusgt img{
  vertical-align: top;
  height: 48px;
  width: 48px;
}
.cusgt .otd{
  display:inline-block;
  vertical-align:top;
  margin-left:5px;
}
.cusgt .otd span{
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
}
.chat_form{
  box-shadow: 0 -2px 2px rgba(0, 0, 0, .25);
  margin: 3px -5px;
  padding: 5px;
}
.chat_form .msgEditor{
  height: 26px;
  width: 100%;
  resize: none;
  line-height: 18px;
}
.chatgt .chat_form input[type=submit]{
  margin: 0px;
  padding: 2px 12px;
}
/* Chatbox */
.msgs{
  overflow-y:auto;
  line-height: 16px;
  font-size: 13px;
  margin-top: 10px;
}
.msg{
  width:100%;
  margin: 10px 0px;
  position: relative;
}
.msg:nth-child(1){
  margin-top: 0;
}
.msg .up{
  padding-bottom: 2px;
}
.msg .up .time{
  margin-left:5px;
  color:gray;
}
/* A nice scrollbar for chatbox */
.msgs::-webkit-scrollbar-thumb{background-color: rgba(0, 0, 0, .2);background-clip: padding-box;border: solid transparent;border-width: 1px 1px 1px 6px;min-height: 28px;padding: 100px 0 0;box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);}.msgs::-webkit-scrollbar-thumb:hover{background-color: rgba(0, 0, 0, .5);}.msgs::-webkit-scrollbar{width: 15px;border-width: 0 1px 0 2px;}.msgs::-webkit-scrollbar-track{background-clip: padding-box;border: solid transparent;border-width: 0 0 0 4px;border-width: 0;}.msgs::-webkit-scrollbar-corner {background: transparent;}
.msg .cmsg{
  padding: 1px 0px 0px 0px;
}
.msg .left{
  padding-left: 32px;
}
.msg .left .avatar{
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .25);
}
.msg .left .mainContent{
  background: white;
  padding: 1px 6px 8px;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, .25);
}
.msg .right{
  padding-right: 32px;
}
.msg .right .avatar{
  position: absolute;
  right: 0px;
  top: 0px;
  background: white;
  box-shadow: -2px 0px 2px rgba(0, 0, 0, .25);
}
.msg .right .mainContent{
  background: white;
  padding: 1px 6px 8px;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, .25);
}
/* End Chatbox */
@media screen and (max-width: 1085px){
  .content{margin-right:auto !important;}
}
