[hide]{
  display: none;
}
[show]{
  display: block !important;
}
body{
  background: #eee url('//open.sim/cdn/img/dot.gif') repeat left top;
  margin:0px;
  border:0px;
  padding:0px;
  line-height:18px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}
.pointer{
  cursor:pointer;
}
[clear],cl{
  margin-top:5px;
  display:block;
}
p{
  margin:5px 0px;
}
.btn.white{
  color: #000;
}
/**
 * End Global
 */
.navbar-fixed{
  z-index: 99999;
}
nav{
  background: #64C235;
}
nav .lNav{
  background: url(//open.sim/cdn/img/sprites/menu.png) !important;
  background-repeat: no-repeat;
  background-position: 1.5px 0px !important;
  border-radius:10px;
  height:29px;
  padding: 0px 18px;
  text-indent:-999em;
  margin: 1px;
  border: none;
  box-shadow: none;
}
nav .search{
  background-position: 0px -29px !important;
}
nav .find{
  background-position: 6px -56px !important;
}
nav .chat{
  background-position: -65px 0px !important;
}
.side-nav{
  margin-top: 64px;
}
i, i + span{
  display: inline-block;
  vertical-align: middle;
}
.wrapper{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}
.content{
  position: relative;
  margin: 0px auto 0px auto;
  padding: 65px 14px 15px 14px;
  width: 800px;
  min-height: 100%;
  font-size: 14px;
  line-height: 18px;
  background: white;
}
.close{
  padding:0px 5px 4px 5px;
  background:#AAA;
  color:white;
  cursor:pointer;
  line-height: 15px;
  font-size:15px;
}
/**
 * Table
 */
table{
  width: 100%;
  font-size: 14px;
  background:white;
  border: 1px solid #e5e5e5;
  border-spacing: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  white-space: pre-wrap;
  word-break: break-word;
}
table thead{
  background:#fff;
  border-bottom: 1px solid #e1e1e1;
}
table tbody tr{
  background-color: #f7fcfe;
}
table tbody tr td:nth-child(1){
  border-left: 4px solid #2ea2cc;
}
table tr td{
  padding: 10px 10px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  border: 0px;
}
/**
 * Tredning
 */
#trending{
  background: none;
  line-height: 10px;
}
#trending #trend_head{
  color: #74ACE9;
}
#trending #trend_head i, #trending #trend_head h4{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#trending #trends li{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
#trending #trends a{
  height: 30px;
  line-height: 30px;
}
/**
 * Notification
 */
.notifications #nfn_button{
  padding: 5px;
  width: 30px;
}
.notifications #nfn{
  position:absolute;
  top:60px;
  right:5px;
  background: white;
  color:black;
  padding:10px;
  padding: 0 13px;
  height: 300px;
  width: 230px;
  border: 1px solid black;
  z-index: 99999999;
  text-align: left;
  display:none;
  padding: 0;
  overflow:auto;
}
.notifications .nfsi .left, .notifications .nfsi .right{
  display:inline-block;
  vertical-align:top;
}
.notifications .nfsi .right{
  margin-left:5px;
}
.notifications .nfsi.nred{
  background: white;
  color:black;
}
.notifications .nfsi{
  font-size:13px;
  cursor:pointer;
  margin-top:5px;
}
.notifications .nfsi:hover{
  background:#EEE;
  color:black;
}
.notifications .nfsi .time{
  color:#AAA;
  margin-left:8px;
}
/*Short Profile*/
#short_profile{
  position:absolute;
  top:60px;
  right:5px;
  padding:10px;
  color:#000;
  padding: 0 13px;
  height: 150px;
  width: 300px;
  border-radius: .6em;
  z-index: 99999999;
  text-align: left;
  display:none;
}
#short_profile .card-content{
  height: 120px;
}
#short_profile .left a{
  color: #000;
}
#short_profile .left{
  padding: 0;
}
#short_profile .right{
  margin: -70px 0;
}
#short_profile .bottom{
  background: whiteSmoke;
  height: 35px;
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
  border-top: 2px solid rgb(204, 204, 204);
  padding-top: 1px;
}
#short_profile .left b{
  font-size:20px;
}
#change_picture{
  display:block;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  font-size:12px;
  text-align:center;
  background:rgba(0,0,0,.7);
  color:white;
  cursor:pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
  line-height: 22px;
}
.follow, .unfollow{
  position: relative;
  margin: 0 0 0 10px;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 2em;
  line-height: 25px;
  border: 1px solid #83c41a;
  border-radius: 10px;
  box-shadow:inset 0px 0px 0px 0px #f29c93;
}
.follow, .follow:hover {
  background: #83c41a;
}
.unfollow, .unfollow:hover {
  background: #F44336;
  border-color: #fe1a00;
}
/*Dialog*/
#dialog{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:2013;
  background: rgba(0, 0, 0, 0.4);
}
#dialog #content{
  position: absolute;
  top: 15%;
  left: 25%;
  right: 25%;
  height: 65%;
  padding-bottom: 5px;
  border-radius:10px;
  border:5px solid #AAA;
  background:white;
}
#dialog #content *{
  max-width: 100%;
  max-height: 100%;
}
#dialog #content iframe{
  border:0px;
}
#dialog #close{
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 20px;
  background: #CCC;
  padding: 8px;
  cursor: pointer;
  line-height: 15px;
}
/* ViewPoints */
.blocks .block{
  display:inline-block;
  vertical-align:top;
}
/*Responsive Design*/
@media screen and (max-width: 850px){
  .content{
    width:auto;
    margin-left: 5px;
    margin-right: 5px;
  }
  .post_form .right{
    width:87% !important;
  }
}
@media screen and (max-width: 640px){
  .content{
    margin-left:0px;
    margin-right:0px;
  }
  .post_form .right{
    width:100% !important;
  }
  .post_form .left{
    display:none;
  }
  .post_form textarea{
    width: 95% !important;
  }
}
@media only screen and (max-width: 601px) {
  .side-nav.fixed{
    margin-top: 56px;
  }
}
@media screen and (max-width: 520px){
  .post .right{
    width: 85% !important;
  }
}
@media screen and (max-width: 320px){
  .chatgt{
    display: none;
  }
}
