.post_form{
 background:#fff;
 padding: 10px 10px 1px;
 border-radius:10px;
 position:relative;
 margin:5px 0px;
}
.post_form textarea{
 width: 97%;
 height:80px;
 resize: none;
 margin-bottom: 5px;
}
.post_form .blocks{
  position: relative;
}
.post_form .blocks a.block{
  vertical-align: middle;
  cursor: pointer;
}
.post_form #pfbit, .post_form #ptwit{
  padding: 6px;
}
.post_form #privacy{
 position: absolute;
 top: 0px;
 left: 40px;
 width: 110px;
 background: white;
 text-align: center;
 border: 1px solid black;
 z-index: 2;
}
.short_news{
 background:#FAB359;
 padding:10px;
 border-radius:10px;
 position:relative;
}
.short_news h2{
 margin:5px 0px;
 font-size:25px;
 color:white;
}
.short_news .close{
  position: absolute;
  right: 5px;
  top: 6px;
  z-index: 99999;
}
.post_form .close{
  position: absolute;
  right: 5px;
}
