.header{
 height:180px;
 border:2px solid white;
 width:100%;
 position:relative;
}
.header .holder{
 background:rgba(0,0,0,.7);
 position:absolute;
 top:0px;
 left:0px;
 color:white;
 padding:5px 15px;
 font-weight:bold;
}
.main{
 margin-top:7px;
 z-index:5;
}
.main .left.clearfix{
 width:530px;
}
.main .right.clearfix{
 width:154px;
 margin-left: 5px;
}
.main .right.clearfix .image{
 margin-top:-88px;
 border:6px solid white;
 height:150px;
 width:152px;
 background:white;
 position: relative;
 box-shadow:inset 0px 0px 8px 1px rgba(0, 0, 0, .4);
}
.main .left.clearfix .navigation{
 text-align: center;
}
.main .right.clearfix .osin{
 margin-top:5px;
}
.main .right.clearfix .osin .tlRep{
 text-align:center;
 background:white;
 padding:5px 0px;
 border:1px solid black;
 border-radius:5px;
}
.main .right.clearfix .osin .tlRep .tl{
 font-size:25px;
 font-weight:bold;
 padding-bottom:7px;
}
.main .right.clearfix .osin .tlRep span:not(.tl){
 margin:0px 5px;
}
.main .right.clearfix .osin .followers,.main .right.clearfix .osin .following{
 background:black;
 border-radius:10px;
 padding:5px 10px;
 margin-top:10px;
 color:white;
}
.main .left.clearfix .noggler{
 margin-top:10px;
}
.main .left.clearfix .navigation part{
 font-size:16px;
 margin-left:20px;
 padding:0px 10px 0px 10px;
 display:inline-block;
 cursor:pointer;
}
.main .left.clearfix .navigation part[act]{
 font-weight:bold;
 border-bottom:5px solid black;
}
#about .smallbox{
 background:white;
 box-shadow:0px 0px 8px 1px rgba(0, 0, 0, .4);
 padding:10px;
 display:inline-block;
 vertical-align:top;
 margin:5px 0px;
 width:235px;
 border-radius:10px;
 border-top-width:5px;
 border-top-style:solid;
}
#about .smallbox h{
 font-size:25px;
 margin-bottom:12px;
 font-weight:bold;
 display:block;
}
.smallbox.basic{border-color:red;}
.smallbox.contact{border-color:blue;}
.smallbox.profiles{border-color:yellow;}
.smallbox.life{border-color:rgb(100, 194, 53);}
.smallbox it{
 display: table-row;
 margin-top:5px;
}
.smallbox m,.smallbox n,.smallbox v{
 display:table-cell;
 vertical-align:top;
}
.smallbox m{padding:2px 10px 2px 10px;}
.smallbox v{word-break: break-word;}
#editField{max-width: 130px;min-width: 130px;}
#ch_hi{
 position:absolute;
 right:0px;
 top:3px;
 padding:5px 15px;
}
.noggler#reputation .item{
 margin:5px;
}
.noggler#reputation .item .block{
 padding:5px;
}
.noggler#reputation .rep{
 background:#CCC;
 line-height:15px;
}
@media screen and (max-width:750px){
 .main .left.clearfix{
  width:75%;
 }
 .main .right.clearfix{
  width:22%;
 }
 .content .header img, .main .right.clearfix .image img{
  height:100%;
  width:100%;
 }
}
@media screen and (max-width:690px){ 
 .post .left{
  display:none;
 }
 .main .right.clearfix .image{
  border:0px;
  margin-top:0px;
  width: auto;
  height: auto;
 }
}
@media screen and (max-width:520px){
 .content{
  width: 500px;
 }
 .content .header{
  border:0px;
 }
}
