.users, .chat{
 display:inline-block;
 vertical-align:top;
 height:410px;
}
.users{
 width:200px;
 background:white;
 padding:5px 10px 5px 9px;
 border-right:1px solid #CCC;
 background:white;
 overflow-y:auto;
}
.content .chat{
 width:440px;
 padding:5px 14px;
 background: #FAB359;
}
.users .user img, .users .user .name, .users .user .status{
 display:inline-block;
 vertical-align:middle;
 margin-left:4px;
}
.chat .msgs{
 height:370px;
}
.chat .chat_form{
 border-top:1px solid #CCC;
 padding:5px 15px;
 margin-right:-14px;
 margin-left:-14px;
 height:27px;
}
@media screen and (max-width: 745px){
 .content .users{display: block;height: 100px;width: auto;}
 .content .chat{display:block;width: auto;padding-bottom: 15px;}
}
@media screen and (max-width: 335px){
 .content .chat .chat_form .msgEditor{
  width:100% !important;
  display:block;
 }
 .content .chat .chat_form input[type=submit]{
  display:block;
 }
}
